.signin {
	padding-top: var(--navbar-height);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.signin form {
	width: 100%;
	max-width: 440px;
	border-radius: var(--border-radius);
	padding-bottom: 20px;
}
.signin fieldset:nth-child(3) {
	margin-top: 20px;
	gap: 0;
}
.signin fieldset:nth-child(3) small {
	width: fit-content;
	margin-left: auto;
	cursor: pointer;
}

.light {
	background-color: var(--light-bg);
	color: var(--light-text);
}

.light h1 {
	color: var(--light-title);
}
.light input {
	background-color: var(--light-input);
	border: var(--light-border);
}
.light fieldset:nth-child(3) small:hover {
	color: var(--light-btn-secondary);
}
.light input:hover {
	background-color: var(--light-input-hover);
}
.dark {
	background-color: var(--dark-bg);
	color: var(--dark-text);
}

.dark h1 {
	color: var(--dark-title);
}
.dark input {
	background-color: var(--dark-input);
	color: var(--dark-input-fg);
}
.dark input:hover {
	background-color: var(--dark-input-hover);
}
.dark fieldset:nth-child(3) small:hover {
	color: var(--dark-btn-secondary);
}
@media screen and (min-width: 500px) {
	.signin {
		padding-top: 0;
	}

	.dark form {
		background-color: var(--dark-card);
	}
	.dark input {
		background-color: var(--dark-bg);
	}
	.light {
		background-color: var(--light-card);
	}
	.light form {
		background-color: var(--light-bg);
		border: var(--light-border);
	}

	.signin form {
		padding: 32px;
	}
}
