@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.signin {
	background-color: var(--card-bg);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: opacity 0.3s ease-in-out;
}
.signin form {
	width: 100%;
	max-width: 420px;
	border-radius: var(--border-radius);
	padding-top: 32px;
	padding-bottom: 16px;
}
.signin h1 {
	color: var(--title-color);
}
.signin small {
	color: var(--legend-color);
}
.forgetCard {
	gap: 0;
	text-align: right;
}

.forgetCard {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	font-size: 1rem;
	color: var(--legend-color);
}

.forgetCard small {
	width: fit-content;
	margin-left: auto;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}
.forgetCard small:hover {
	color: var(--btn-bg);
}
@media screen and (min-width: 420px) {
	.signin {
		background-color: var(--main-bg);
	}
	.signin form {
		border: var(--border);
	}
}
