.create {
	width: 80%;
	max-width: 400px;
	border-radius: var(--border-radius);
	padding: 32px;
	padding-bottom: 16px;
}
.create small {
	margin: auto;
	cursor: pointer;
}

.formDate {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.formDate label {
	font-size: 0.8rem;
}

.dark {
	background-color: var(--dark-card);
}
.dark h3 {
	color: var(--dark-title);
}

.dark :is(small, label) {
	color: var(--dark-text);
}
.dark :is(input, select) {
	background-color: var(--dark-bg);
	color: var(--dark-text);
}
.dark select {
	border: none;
}
