@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.package {
	width: 100%;
	height: fit-content;
	gap: 12px;
	animation: opacity 0.3s ease-in-out;
}
.package legend {
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--title-color);
}
.groupBtn {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.groupBtn small {
	width: fit-content;
	margin: auto;
	color: var(--legend-color);
	transition: color 0.3s ease-in-out;
	cursor: pointer;
}
.groupBtn small:hover {
	color: var(--btn-bg);
}
.detail {
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.detail table {
	width: 100%;
	background-color: var(--card-bg);
}
.detail caption {
	background-color: var(--card-bg);
	padding: 4px 0;
	font-size: 0.9rem;
}
.detail :is(th, td) {
	text-align: right;
	padding: 4px;
	padding-right: 4px;
	padding-left: 0;

	font-size: 0.9rem;
}
.detail .groupBtn {
	margin-top: 4px;
}
.message {
	color: var(--legend-color);
}
@media screen and (min-width: 600px) {
	.package {
		margin-left: 190px;
	}
}
@media screen and (min-width: 1080px) {
	.package {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 12px;
		height: 60vh;
		max-width: 550px;
	}
	.package form {
		width: 80%;
		border-radius: var(--border-radius);
		padding: 24px 32px;
		padding-bottom: 36px;
		border: var(--border);
		margin-left: auto;
		margin-right: 16px;
	}
}
