.package {
	width: 100%;
	height: fit-content;
	gap: 12px;
}
@media screen and (min-width: 600px) {
	.package {
		margin-left: 190px;
	}
}
@media screen and (min-width: 1080px) {
	.package {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 12px;
		height: 60vh;
	}
	.package form {
		width: 60%;
		border-radius: var(--border-radius);
		padding: 32px;
		border: var(--border);
	}
	.packageGrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		height: 100%;
	}
	.packageGrid form {
		width: 100%;
		height: 100%;
	}
}
