.busDescription span {
	margin-left: 26px;
	color: var(--legend-color);
	font-size: 0.9rem;
}
.dark {
	color: var(--dark-text);
}
.dark .avaliable::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin-left: -16px;
	margin-top: 6px;
	background-color: var(--dark-avaliable-seat);
}
.dark .unavaliable::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin-left: -16px;
	margin-top: 6px;
	background-color: var(--dark-unavaliable-seat);
}
.dark .reserved::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin-left: -16px;
	margin-top: 6px;
	background-color: var(--dark-reserved-seat);
}
