.navbar {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 12px 0;
	padding-left: 12px;
	position: fixed;
	width: 100%;
	background-color: var(--main-bg);
	z-index: 998;
}

.burger {
	cursor: pointer;
}
@media screen and (min-width: 600px) {
	.burger {
		display: none;
	}
}
