@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.navbar {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 8px 0;
	padding-left: 12px;
	position: fixed;
	width: 100%;
	background-color: var(--main-bg);
	z-index: 998;
}

.navbar > h4 {
	color: var(--title-color);
}
.burger {
	cursor: pointer;
	color: var(--title-color);
}
.navButtons {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-left: auto;
	margin-right: 16px;
	color: var(--legend-color);
}
.navButtons span {
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.navButtons span {
	background-color: var(--navbtn-bg);
	border-radius: 50%;
	padding: 8px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition-property: background-color;
	transition: 0.3s ease-in-out;
}
.navButtons span:hover {
	background-color: var(--navbtn-hover);
}
.navButtons span:active {
	background-color: var(--navbtn-active);
}
.account {
	width: 50%;
	max-width: 300px;
	background-color: var(--card-bg);
	border-radius: var(--border-radius);
	position: fixed;
	top: var(--navbar-height);
	right: 16px;
	padding: 12px;
	box-shadow: var(--box-shadow);
	animation: opacity 0.3s ease-in-out;
}
.account h4 {
	text-align: center;
	margin-top: 4px;
	color: var(--title-color);
}
.account figure {
	display: flex;
	flex-direction: column;
	gap: 6px;
	align-items: center;
	margin-top: 6px;
}
.account img {
	width: 48px;
	border-radius: 50%;
}
.account ul {
	margin: 12px 6px 12px 6px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.account li {
	list-style: none;
	background-color: var(--drop-menu-bg);
	transition: background-color 0.3s ease-in-out;
	padding: 6px 12px;
	border-radius: var(--border-radius);
	font-size: 0.9rem;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.account span {
	font-size: 1.2rem;
	background-color: transparent;
}
.account li:hover {
	background-color: var(--drop-menu-hover);
}
.account li:active {
	background-color: var(--drop-menu-active);
}
.my_profile {
	width: 80%;
	max-width: 400px;
	background-color: var(--card-bg);
	border-radius: var(--border-radius);
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my_profile figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.my_profile img {
	width: 80%;
	max-width: 200px;
	border-radius: 50%;
}
.my_profile figcaption {
	margin-top: 12px;
}
.role_profile {
	width: 100%;
	text-align: center;
	margin-top: 28px;
	margin-bottom: 8px;
}
.role_profile h5 {
	margin-bottom: 12px;
}
.role_profile div {
	width: 90%;
	display: grid;
	grid-template-columns: 20% 80%;
	text-align: left;
	margin: auto;
}
.role_profile span {
	font-size: 1rem;
	height: fit-content;
}
.role_profile small:nth-child(1) {
	display: flex;
	align-items: center;
	gap: 2px;
}
.role_profile small:nth-child(2) {
	text-align: right;
}
.my_profile button {
	width: 100%;
	max-width: 250px;
	margin-top: 20px;
	margin-bottom: 8px;
}
.logout {
	background-color: var(--card-bg);
}
@media screen and (min-width: 600px) {
	.burger {
		display: none;
	}
	.logout {
		background-color: var(--main-bg);
	}
}
