.navbar {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 8px 0;
	padding-left: 12px;
	position: fixed;
	width: 100%;
	background-color: var(--main-bg);
	z-index: 998;
}

.burger {
	cursor: pointer;
}
.navButtons {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-left: auto;
	margin-right: 16px;
	color: var(--legend-color);
}
.navButtons span {
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.navButtons span:nth-child(1) {
	background-color: var(--navbtn-bg);
	border-radius: 50%;
	padding: 8px;
	transition-property: background-color;
	transition: 0.3s ease-in-out;
}
.navButtons span:nth-child(1):hover {
	background-color: var(--navbtn-hover);
}
.navButtons span:nth-child(1):active {
	background-color: var(--navbtn-active);
}

.navButtons span:nth-child(2):hover {
	color: var(--btn-bg);
}

@media screen and (min-width: 600px) {
	.burger {
		display: none;
	}
}
