:root {
	--light-bg: #fff;
	--light-card: #f1f1f1;
	--light-title: #000;
	--light-text: #7c7c7c;
	--light-btn: #0071e3;
	--light-btn-hover: #0077ed;
	--light-input: rgb(248 248 248);
	--light-input-hover: hsl(0, 0%, 94%);
	--light-input-fg: rgb(50, 50, 50);
	--light-border-color: rgb(224, 224, 224);
	--light-border: 1px solid var(--light-border-color);
	--light-btn-secondary: hsl(0, 0%, 36%);
	--light-navbar-btn: hsl(0, 0%, 90%);
	--light-navbar-btn-hover: hsl(0, 0%, 87%);
	--light-loader: rgb(210 210 210);
	--light-loader-spin: #4e9dec;

	--dark-bg: hsl(235, 11%, 23%);
	--dark-card: hsl(235, 11%, 25%);
	--dark-title: #ffffff;
	--dark-text: #a7a7a7;
	--dark-btn: rgba(0, 113, 227, 0.5);
	--dark-btn-hover: rgba(0, 119, 237, 0.5);
	--dark-input: hsl(235, 11%, 25%);
	--dark-input-hover: hsl(235, 11%, 22%);
	--dark-input-fg: white;
	--dark-btn-secondary: #d3d3d3;
	--dark-navbar-btn: hsl(235, 11%, 26%);
	--dark-navbar-btn-hover: hsl(235, 11%, 28%);
	--dark-border-color: hsl(235, 11%, 28%);
	--dark-border: 1px solid var(--dark-border-color);
	--dark-shadow: 2px 2px 30px 2px rgb(40, 40, 40);
	--dark-loader: hsl(235, 11%, 28%);
	--dark-loader-spin: #3e7fc0;
	--dark-loader-message: #fff;
	--dark-support-pending: orange;
	--dark-support-solving: green;
	--dark-aside-item-on: rgba(43, 88, 133, 0.5);
	--dark-aside-item-fg: white;
	--dark-aside-items-fg: rgb(141, 140, 140);
	--dark-aside-item-hover: rgba(43, 88, 133, 0.5);
	--dark-avaliable-seat: rgba(0, 250, 217, 0.192);
	--dark-available-seat-fg: rgba(0, 250, 217, 1);
	--dark-unavaliable-seat: rgba(250, 133, 0, 0.192);
	--dark-unavaliable-seat-fg: rgba(250, 133, 0);
	--dark-reserved-seat: rgba(233, 250, 0, 0.192);
	--dark-reserved-seat-fg: rgba(233, 250, 0, 1);
	--dark-danger: #d2504a;

	--height-btn: 40px;
	--btn-fg: #fff;
	--border-radius: 8px;
	--font-family: "Source Sans Pro", sans-serif;
	--navbar-height: 64px;
	--modal-bg: rgba(0, 0, 0, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
}
img {
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	padding: 16px 32px;
}

fieldset {
	width: 100%;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 12px;
}
legend {
	margin-bottom: 12px;
}
input,
button,
select {
	border-radius: var(--border-radius);
	height: var(--height-btn);
	padding: 8px;
	cursor: pointer;
	border: none;
}

input {
	padding-left: 12px;
	outline: none;
	border: none;
}

button {
	border: none;
}
button:active {
	transform: scale(0.9);
}

table {
	height: fit-content;
}
table,
table :is(tr, td, th) {
	border-collapse: collapse;
}
