:root {
	--main-bg: rgb(245, 245, 245);
	--card-bg: rgb(255, 255, 255);
	--font-family: "Source Sans Pro", sans-serif;

	--border-color: rgb(220, 220, 220);
	--border: 1px solid var(--border-color);
	--border-radius: 8px;

	--input-hover: rgb(240, 240, 240);
	--btn-hover: rgb(60, 60, 60);

	--btn-bg: #0071e3;
	--btn-fg: #fff;
	--btn-hover: #0077ed;

	--height-btn: 40px;
	--legend-color: #6e6e73;

	--aside-color: #6e6e73;
	--aside-active: #b7dbff;
	--aside-active-color: #135da7;

	--navbar-height: 64px;
	--navbtn-bg: hsl(0, 0%, 90%);
	--navbtn-hover: hsl(0, 0%, 85%);
	--navbtn-active: hsl(0, 0%, 80%);

	--seat-bg: hsl(210, 100%, 85%);
	--seat-fg: hsl(210, 100%, 55%);
	--seat-hover: hsl(210, 100%, 80%);

	--seat-unavaliable: hsl(78, 100%, 85%);
	--seat-unavaliable-fg: hsl(78, 100%, 40%);

	--seat-reserved: hsl(0, 0%, 90%);
	--seat-reserved-fg: hsl(0, 0%, 70%);

	--modal-bg: rgba(0, 0, 0, 0.5);

	--color-success: hsl(0, 0%, 70%);
	--title-color: black;
	--box-shadow: 1px 1px 2px 1px rgb(215, 215, 215);

	--drop-menu-bg: rgb(240, 240, 240);
	--drop-menu-hover: rgb(235 235 235);
	--drop-menu-active: rgb(225 225 225);
	--table-content-bg: rgb(156, 154, 154);
	--table-border: 1px solid var(--border-color);
	--pending-support: orange;
	--answered-support: rgb(9, 155, 9);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
main {
	background-color: var(--main-bg);
}
body {
	height: 100vh;
}
img {
	width: 100%;
}

form {
	background-color: var(--card-bg);
	display: flex;
	flex-direction: column;
	padding: 16px 32px;
}

fieldset {
	width: 100%;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 12px;
}
legend {
	margin-bottom: 12px;
}
input,
button,
select {
	border: var(--border);
	border-radius: var(--border-radius);
	height: var(--height-btn);
	padding: 8px;
	cursor: pointer;
}
select {
	color: var(--legend-color);
	border: var(--table-border);
	background-color: var(--main-bg);
}
input {
	padding-left: 12px;
	outline: none;
	transition: background-color 0.3s ease-in-out;
	border: var(--table-border);
}

input:hover {
	background-color: var(--input-hover);
}

button {
	border: none;
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	transition-property: background-color, transform;
	-webkit-transition-property: transform;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-webkit-tap-highlight-color: transparent;
}
button:hover {
	background-color: var(--btn-hover);
}
button:active {
	transform: scale(0.9);
}

table {
	height: fit-content;
	color: var(--legend-color);
}
table,
caption,
td,
th {
	border: var(--table-border);
	border-collapse: collapse;
	color: var(--table-content-bg);
}

caption {
	border-bottom: none;
}
.loader-loop {
	display: flex;
	flex-direction: column;
	height: fit-content;
	align-items: center;
	justify-content: center;
}
.loader-loop small {
	display: block;
	text-align: center;
	color: var(--legend-color);
}

.loader-loop div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 28px;
	height: 28px;
	border: 4px solid var(--btn-bg);
	border-radius: 50%;
	animation: loader 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--btn-bg) transparent transparent transparent;
	margin-bottom: 54px;
}
.loader-loop div:nth-child(1) {
	animation-delay: -0.45s;
}
.loader-loop div:nth-child(2) {
	animation-delay: -0.3s;
}
.loader-loop div:nth-child(3) {
	animation-delay: -0.15s;
}
.dark {
	--main-bg: hsl(235, 11%, 23%);
	--card-bg: hsl(235, 11%, 25%);
	--border: none;
	--table-content-bg: rgb(153, 153, 153);
	--table-border: 1px solid hsl(235, 11%, 30%);
	--legend-color: rgb(153, 153, 153);
	--title-color: white;
	--navbtn-bg: hsl(235, 11%, 25%);
	--navbtn-hover: hsl(235, 11%, 30%);
	--navbtn-active: hsl(235, 11%, 35%);
	--btn-bg: rgba(0, 113, 227, 0.5);
	--btn-hover: rgba(0, 119, 237, 0.5);
	--box-shadow: 3px 3px 32px 16px rgba(0, 0, 0, 0.1);
	--drop-menu-bg: hsl(235, 11%, 28%);
	--drop-menu-hover: hsl(235, 11%, 30%);
	--drop-menu-active: hsl(235, 11%, 35%);

	--seat-bg: hsl(210, 69%, 24%);
	--seat-fg: hsl(210, 46%, 40%);
	--seat-hover: hsl(210, 69%, 28%);

	--seat-unavaliable: hsl(78, 75%, 24%);
	--seat-unavaliable-fg: hsl(78, 82%, 40%);

	--seat-reserved: hsl(235, 11%, 32%);
	--seat-reserved-fg: hsl(235, 11%, 45%);
	--aside-color: rgba(192, 192, 192, 0.5);
	--aside-active: rgba(59, 93, 128, 0.5);
	--aside-active-color: #178db3;
	--pending-support: orange;
	--answered-support: rgb(59, 196, 59);
}
.dark :is(input, select) {
	background-color: var(--main-bg);
	color: var(--border-color);
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
