:root {
	--main-bg: rgb(245, 245, 245);
	--card-bg: rgb(255, 255, 255);
	--font-family: "Source Sans Pro", sans-serif;

	--border-color: rgb(220, 220, 220);
	--border: 1px solid var(--border-color);
	--border-radius: 8px;

	--input-hover: rgb(240, 240, 240);
	--btn-hover: rgb(60, 60, 60);

	--btn-bg: #0071e3;
	--btn-fg: #fff;
	--btn-hover: #0077ed;

	--height-btn: 40px;
	--legend-color: #6e6e73;

	--aside-color: #6e6e73;
	--aside-active: #b7dbff;
	--aside-active-color: #135da7;

	--navbar-height: 64px;
	--navbtn-bg: hsl(0, 0%, 90%);
	--navbtn-hover: hsl(0, 0%, 85%);
	--navbtn-active: hsl(0, 0%, 80%);

	--seat-bg: hsl(210, 100%, 85%);
	--seat-fg: hsl(210, 100%, 55%);
	--seat-hover: hsl(210, 100%, 80%);

	--seat-unavaliable: hsl(78, 100%, 85%);
	--seat-unavaliable-fg: hsl(78, 100%, 40%);

	--seat-reserved: hsl(0, 0%, 90%);
	--seat-reserved-fg: hsl(0, 0%, 70%);

	--modal-bg: rgba(0, 0, 0, 0.5);

	--color-success: hsl(0, 0%, 70%);
	--title-color: black;
	--box-shadow: 1px 1px 2px 1px rgb(215, 215, 215);

	--drop-menu-bg: rgb(240, 240, 240);
	--drop-menu-hover: rgb(235 235 235);
	--drop-menu-active: rgb(225 225 225);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
main {
	background-color: var(--main-bg);
}
body {
	height: 100vh;
}
img {
	width: 100%;
}

form {
	background-color: var(--card-bg);
	display: flex;
	flex-direction: column;
	padding: 16px 32px;
}

fieldset {
	width: 100%;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 12px;
}
legend {
	margin-bottom: 12px;
}
input,
button,
select {
	border: var(--border);
	border-radius: var(--border-radius);
	height: var(--height-btn);
	padding: 8px;
	cursor: pointer;
}
select {
	color: var(--legend-color);
}
input {
	padding-left: 12px;
	outline: none;
	transition: background-color 0.3s ease-in-out;
}

input:hover {
	background-color: var(--input-hover);
}

button {
	border: none;
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	transition-property: background-color, transform;
	-webkit-transition-property: transform;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-webkit-tap-highlight-color: transparent;
}
button:hover {
	background-color: var(--btn-hover);
}
button:active {
	transform: scale(0.9);
}

table {
	height: fit-content;
	color: var(--legend-color);
}
table,
caption,
td,
th {
	border: var(--border);
	border-collapse: collapse;
}

caption {
	border-bottom: none;
}
.loader {
	display: flex;
	justify-content: center;
	position: relative;
	width: auto;
	margin-top: 12px;
}
.loader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 28px;
	height: 28px;
	border: 4px solid var(--btn-bg);
	border-radius: 50%;
	animation: loader 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--btn-bg) transparent transparent transparent;
}
.loader div:nth-child(1) {
	animation-delay: -0.45s;
}
.loader div:nth-child(2) {
	animation-delay: -0.3s;
}
.loader div:nth-child(3) {
	animation-delay: -0.15s;
}
.dark {
	--main-bg: rgb(12, 12, 12);
	--card-bg: rgb(28, 28, 28);
	--border: 1px solid rgb(48, 48, 48);
	--title-color: white;
	--navbtn-bg: hsl(0, 0%, 15%);
	--navbtn-hover: hsl(0, 0%, 20%);
	--navbtn-active: hsl(0, 0%, 10%);
	--btn-bg: rgba(0, 113, 227, 0.5);
	--btn-hover: rgba(0, 119, 237, 0.5);
	--box-shadow: 1px 1px 2px 1px rgb(0 0 0);
	--drop-menu-bg: rgb(50, 50, 50);
	--drop-menu-hover: rgb(54 54 54);
	--drop-menu-active: rgb(60 60 60);

	--seat-bg: hsl(210, 69%, 32%);
	--seat-fg: hsl(210, 46%, 52%);
	--seat-hover: hsl(210, 69%, 40%);

	--seat-unavaliable: hsl(78, 75%, 30%);
	--seat-unavaliable-fg: hsl(78, 82%, 47%);

	--seat-reserved: hsl(0, 0%, 15%);
	--seat-reserved-fg: hsl(0, 1%, 34%);
	--aside-color: rgba(110, 110, 115, 0.5);
	--aside-active: rgba(59, 93, 128, 0.5);
	--aside-active-color: #ffffff;
}
.dark :is(input, select) {
	background-color: var(--main-bg);
	color: var(--border-color);
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
