.main {
	padding: var(--navbar-height) 16px 0 16px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
}

@media screen and (min-width: 600px) {
	.main {
		flex-direction: row;
	}
	.error_travel {
		width: 100%;
		margin-left: 190px;
	}
}

@media screen and (min-width: 850px) {
	.main {
		height: 100%;
	}
}
@media screen and (min-width: 1280px) {
	.main {
		height: 100vh;
		flex-wrap: nowrap;
	}
	.main_expanded {
		flex-wrap: wrap;
	}
}
