.panelTicket {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (min-width: 600px) {
	.panelTicket {
		width: 100%;
		max-width: none;
		flex-direction: row;
		gap: 24px;
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 1300px) {
	.panelTicket {
		margin-top: 8px;

		display: grid;
		grid-template-columns: 310px 1fr;
		align-items: center;
	}
}
