.panelTicket {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}
@media screen and (min-width: 600px) {
	.panelTicket {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 190px;
	}
}
