.panelTicket {
	display: flex;
	flex-direction: column;
}
@media screen and (min-width: 600px) {
	.panelTicket {
		width: 100%;
		max-width: none;
		flex-direction: row;
		gap: 24px;
		flex-wrap: wrap;
		margin-left: 190px;
		align-items: center;
		justify-content: center;
	}
}
