.resume {
	display: flex;
	flex-direction: column;
	gap: 24px;
	text-align: right;
}
.resumenTable {
	width: 100%;
	margin: auto;
	margin-bottom: 24px;
	color: var(--legend-color);
	font-size: 0.9rem;
	background-color: var(--card-bg);
}
.resumenTable th {
	padding: 2px 8px;
}
.resumenTable td {
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}
.resumenTable caption {
	padding: 4px;
	background-color: var(--card-bg);
}
.groupBtn {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.groupBtn small {
	width: fit-content;
	text-align: center;
	margin: auto;
	color: var(--legend-color);
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}
.groupBtn small:hover {
	color: var(--btn-bg);
}
.listTravel {
	width: 80%;
	max-width: 400px;
	border-radius: var(--border-radius);
	padding: 32px;
}
.listTravel .groupBtn {
	margin-top: 2px;
}
@media screen and (min-width: 850px) {
	.resumenTable {
		width: 100%;
		width: 350px;
		margin: 0;
	}
}
