.seats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

.seats span {
	font-weight: bold;
	border-radius: var(--border-radius);
	text-align: center;
	padding: 4px 0;
	cursor: pointer;
}

.dark span {
	background-color: var(--dark-avaliable-seat);
	color: var(--dark-available-seat-fg);
}
.dark span:nth-child(3n + 6) {
	background-color: var(--dark-unavaliable-seat);
	color: var(--dark-unavaliable-seat-fg);
}
.dark span:nth-child(2n + 8) {
	background-color: var(--dark-reserved-seat);
	color: var(--dark-reserved-seat-fg);
}
