.seats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

.seats span {
	background-color: var(--seat-bg);
	color: var(--seat-fg);
	font-weight: bold;
	border-radius: var(--border-radius);
	text-align: center;
	padding: 4px 0;
	cursor: pointer;
}
.seats span:hover {
	background-color: var(--seat-hover);
}
.seats span:nth-child(3n + 2) {
	background-color: var(--seat-unavaliable);
	color: var(--seat-unavaliable-fg);
	cursor: pointer;
}
.seats span:nth-child(4n + 1) {
	background-color: var(--seat-reserved);
	color: var(--seat-reserved-fg);
	cursor: pointer;
}
