.group {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}
.group small {
	width: fit-content;
	text-align: center;
	margin: auto;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.dark button {
	background-color: var(--dark-btn);
	color: var(--btn-fg);
}
.dark small {
	color: var(--dark-text);
}
