@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bus {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
	gap: 24px;
	row-gap: 16px;
	margin: auto;
	width: 100%;
	max-width: 340px;
	animation: opacity 0.3s ease-in-out;
	font-size: 0.9rem;
}
.bus > div:first-child {
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}
.bus small {
	margin: auto;
	grid-column: 1/-1;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.seats {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(44px, auto));
	gap: 12px;
	width: 100%;
	grid-column: 1/-1;
	max-width: 340px;
}
.seats span {
	background-color: hsl(235, 11%, 26%);
	color: #fff;
}
.seats :not(:is(span.unavailable, span.reserved)) {
	box-shadow: 1px 1px 10px rgb(48, 48, 48);
}

.seats span {
	font-weight: bold;
	border-radius: var(--border-radius);
	text-align: center;
	padding: 4px 0;
	cursor: pointer;
}
.dark small {
	color: var(--dark-text);
}

.dark .unavailable {
	background-color: var(--dark-unavaliable-seat);
	color: var(--dark-unavaliable-seat-fg);
}
.dark .reserved {
	background-color: var(--dark-reserved-seat);
	color: var(--dark-reserved-seat-fg);
}

@media screen and (min-width: 600px) {
	.bus > div:first-child {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 32px;
		width: calc(100% - 16px);
	}
	.bus {
		width: 100%;
		margin: 0;
		margin-left: 12px;
		border-radius: var(--border-radius);
	}
	.dark {
		background-color: var(--dark-card);
		padding: 24px 40px;
	}
}
@media screen and (min-width: 1000px) {
	.bus {
		margin-left: 0;
		padding: 32px;
	}
}
