@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bus {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	row-gap: 8px;
	margin: 0 auto;
	margin-top: 4px;
	width: 90%;
	max-width: 340px;
	animation: opacity 0.3s ease-in-out;
	font-size: 0.9rem;
}

.dark .busNumber {
	color: var(--dark-text);
}

.seats {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, auto));
	gap: 12px;
	width: 100%;
	grid-column: 1/-1;
	max-width: 340px;
}
.seats span {
	background-color: var(--dark-available-seat);
	color: var(--dark-available-seat-fg);
	font-weight: bold;
	border-radius: var(--border-radius);
	text-align: center;
	padding: 4px 0;
	cursor: pointer;
	box-shadow: 1px 1px 10px rgb(48, 48, 48);
}

@media screen and (min-width: 600px) {
	.bus {
		width: 100%;
		margin: 0;
		margin-left: 12px;
		border-radius: var(--border-radius);
	}
	.seats {
		grid-template-columns: repeat(auto-fill, minmax(44px, auto));
	}
	.dark {
		background-color: var(--dark-card);
	}
}
@media screen and (min-width: 1000px) {
	.bus {
		margin-left: 0;
		padding: 32px;
	}
	.seats {
		grid-template-columns: repeat(auto-fill, minmax(60px, auto));
	}
}
@media screen and (min-width: 1300px) {
	.seats {
		grid-template-columns: repeat(auto-fill, minmax(44px, auto));
	}
}
