@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.clientForm {
	width: 100%;
	flex-basis: 100%;
	max-width: 400px;
	margin: auto;
	border-radius: var(--border-radius);
	animation: opacity 0.3s ease-in-out;
}
.clientForm :is(input, select) {
	animation: opacity 0.3s ease-in-out;
}
.print {
	margin: auto;
	margin-top: 12px;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}
.print:hover {
	color: var(--btn-bg);
}
.modalContent {
	width: 80%;
	max-width: 400px;
	border-radius: var(--border-radius);
	padding: 32px;
}
.modalContent table {
	margin: auto;
	width: 100%;
	font-size: 0.95rem;
}
.modalContent caption {
	padding: 4px;
}
.modalContent td {
	padding: 4px;
}
.modalContent :is(td, th) {
	padding-right: 6px;
	text-align: right;
}
.groupBtn {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin-top: 16px;
}
.groupBtn button {
	width: 100%;
}
.groupBtn small {
	width: fit-content;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.groupBtn small:hover {
	color: var(--btn-bg);
}
.printMessage {
	display: block;
	text-align: center;
	font-weight: bold;
}
.dark {
	background-color: var(--dark-card);
}
.dark legend {
	color: var(--dark-title);
}
.dark form {
	border: none;
}
.dark select {
	background-color: var(--dark-bg);
	color: var(--dark-input-fg);
	border: none;
}
.dark input {
	background-color: var(--dark-input);
	color: var(--dark-input-fg);
}
.dark button {
	background-color: var(--dark-btn);
	color: var(--btn-fg);
}
.dark button + small {
	color: var(--dark-text);
}
.dark button + small:hover {
	color: var(--dark-btn-secondary);
}
@media screen and (min-width: 600px) {
	.clientForm {
		width: 100%;
		margin: 0;
		padding-top: 32px;
		padding-bottom: 28px;
		margin-left: 20px;
	}
	.dark input {
		background-color: var(--dark-bg);
	}
	.clientForm legend {
		font-weight: bold;
		font-size: 1.2rem;
	}
}
