.aside li {
	list-style: none;
	font-weight: bold;
	border-radius: var(--border-radius);
	color: var(--aside-color);
	padding: 12px;
}

aside .asideActive {
	background-color: var(--aside-active);
	color: var(--aside-active-color);
}
