@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.aside {
	margin-bottom: 16px;
	animation: opacity 0.3s ease-in-out;
	height: 100%;
	width: 100%;
}
.aside ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.aside li {
	list-style: none;
	border-radius: var(--border-radius);
	color: var(--aside-color);
	padding: 12px;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
}
.aside li:hover {
	background-color: var(--aside-active);
}
aside .asideActive {
	background-color: var(--aside-active);
	color: var(--aside-active-color);
}
@media screen and (min-width: 600px) {
	.aside {
		flex-basis: 36%;
		max-width: 160px;
		margin: 0;
		margin-right: 12px;
		height: 100vh;
		position: fixed;
	}
}
