.aside {
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: var(--navbar-height);
	z-index: 997;
	background-color: var(--modal-bg);
}
.aside ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 70%;
	padding-top: 12px;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 260px;
	height: 100vh;
}
.aside li {
	list-style: none;
	border-radius: var(--border-radius);
	padding: 12px;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
	font-size: 0.85rem;
	font-weight: 500;
}
li.create {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 6px;
	border-radius: 24px;
	padding: 12px 0;
	transition-property: background-color, transform;
	transition: 0.3s ease-in-out;
}
.create span {
	font-size: 1rem;
}
.create:active {
	transform: scale(0.9);
}
.dark ul {
	background-color: var(--dark-bg);
}
.dark li {
	color: var(--dark-aside-items-fg);
}
.dark li:hover {
	background-color: var(--dark-aside-item-hover);
}
.dark li:first-child {
	background-color: var(--dark-btn);
	color: var(--btn-fg);
}
li.active {
	background-color: var(--dark-aside-item-on);
	color: var(--dark-aside-item-fg);
}
@media screen and (min-width: 600px) {
	.aside {
		width: 100%;
		position: initial;
		margin: 0;
	}
	.aside ul {
		width: 100%;
		max-width: none;
	}
}
@media screen and (min-width: 1250px) {
	.aside {
		background-color: transparent;
	}
	.aside ul {
		height: auto;
	}
}
